{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja{% endblock %}

{% load l10n %}

{% block head %}

{% endblock %}


{% block header %}TREENIPÄIVÄKIRJA - {{current_day}}{% endblock %}

{% block content %}

<div class="container mb-5 mt-3">
  
  <div class="card-deck">
    <div class="card text-center bg-light border-info rounded-pill">
      <div class="card-body">
        <h6 class="card-title">Kuluvana vuonna yhteensä</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><h1 class="card-text display-4 text-primary">{{ hours_current_year }}</h1></li>
          <li class="list-inline-item">tuntia</li> 
        </ul>
        {% if hours_change > 0 %}
        <p class="card-text text-success">
          <i class="fas fa-caret-up mr-1"></i>
          {{ hours_change }}
        {% else %} 
        <p class="card-text text-danger">
          <i class="fas fa-caret-down mr-1"></i>
          {{ hours_change }}
        {% endif %}
          <small class="text-muted">verrattuna vuoden takaiseen</small>
        </p>
      </div>
    </div>
    <div class="card text-center bg-light border-info rounded-pill">
      <div class="card-body">
        <h6 class="card-title">Keskimäärin</h6>
        <ul class="list-inline">
          <li class="list-inline-item"><h1 class="card-text display-4 text-primary">{{ hours_per_week_current_year }}</h1></li>
          <li class="list-inline-item">tuntia/vko</li> 
        </ul>
        {% if hours_per_week_change > 0 %}
        <p class="card-text text-success">
          <i class="fas fa-caret-up mr-1"></i>
          {{ hours_per_week_change }}
        {% else %} 
        <p class="card-text text-danger">
          <i class="fas fa-caret-down mr-1"></i>
          {{ hours_per_week_change }}
        {% endif %}
          <small class="text-muted">verrattuna viime vuoteen</small>
        </p>
      </div>
    </div>
    <div class="card text-center bg-light border-info rounded-pill">
      <div class="card-body">
        <h6 class="card-title">Treenifiilis keskimäärin</h6>
        <ul class="list-inline">
            <li class="list-inline-item"><h1 class="card-text display-4 text-primary">{{ feeling_current_period }}</h1></li>
            <li class="list-inline-item">viimeiset 14 vrk</li> 
          </ul>
          {% if feeling_change > 0 %}
          <p class="card-text text-success">
            <i class="fas fa-caret-up mr-1"></i>
            {{ feeling_change }}
          {% else %} 
          <p class="card-text text-danger">
            <i class="fas fa-caret-down mr-1"></i>
            {{ feeling_change }}
          {% endif %}
          <small class="text-muted">verrattuna edeltävään jaksoon</small>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="container mt-3">

  <h4 class="mb-3">Toiminnot</h4>

  <div class="card-deck">
    <div class="card text-center bg-light p-5 border-info">
      <a id="calendar_icon" href="{% url 'trainings' %}">
        <i class="far fa-calendar-alt fa-10x"></i>
      </a>
      <div class="card-body">
        <h5 class="card-title">Kalenteri</h5>
        <p class="card-text">Tarkastele harjoitteluhistoriaasi. Muokkaa yksittäisiä harjoituksiasi tai lisää uusia harjoituksia.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card text-center bg-light p-5 border-info">
      <a id="chart_icon" href="{% url 'reports_amounts' %}">
        <i class="fas fa-chart-line fa-10x"></i>
      </a>
      <div class="card-body">
        <h5 class="card-title">Raportit</h5>
        <p class="card-text">Seuraa harjoitusmäärien ja laadun kehitystä. Huomaa edistyksesi.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card text-center bg-light p-5 border-info">
      <a id="settings_icon" href="{% url 'settings' %}">
        <i class="fas fa-cog fa-10x"></i>
      </a>
      <div class="card-body">
        <h5 class="card-title">Asetukset</h5>
        <p class="card-text">Määrittele lajit ja harjoituskaudet. Aseta yksilölliset tehoalueesi.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>

</div>

<script>

    // activate nav item
    document.getElementById("index").classList.add('active')

</script>

{% endblock %}