{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Raportit | Lajit{% endblock %}

{% load l10n %}

{% block head %}

{% endblock %}


{% block header %}RAPORTIT - LAJIT{% endblock %}

{% block content %}

<div class="row mb-2">
  <div class="col">
    <div class="float-left">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_sport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{sport}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for s in sports %}
          <button name="sport" class="dropdown-item" type="button" value="{{ s }}">{{ s }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="float-right">
      <div class="custom-control custom-radio custom-control-inline">
        <input 
          type="radio" 
          id="year" 
          name="groupBy" 
          value="year" 
          class="custom-control-input" 
          checked>
        <label class="custom-control-label" for="year">Vuosittain</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input 
          type="radio" 
          id="season" 
          name="groupBy" 
          value="season" 
          class="custom-control-input"
          >
        <label class="custom-control-label" for="season">Harjoituskausittain</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">Harjoitusmäärät
          <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_amount_per_sport">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="tab" id="hours">Tunnit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="tab" id="kilometers">Kilometrit</a>
            </li>
          </ul>
      </h6>
      <div class="card-body">
        <div id="chart_amount_per_sport"></div>
        <div class="mt-4 ml-4 mr-4" id="table_amount_per_sport"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">Keskisyke ja -vauhti</h6>
      <div class="card-body">
        <div id="chart_avg_per_sport"></div>
        <div class="mt-4 ml-4 mr-4" id="table_avg_per_sport"></div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  // activate nav item
  document.getElementById("nav_reports").classList.add('active')

  // enable Bootstrap tooltips
  $(function () {$('[data-toggle="tooltip"]').tooltip()})

  
  // load data
  let hoursPerSport = {{ hours_per_sport|safe }}
  let kilometersPerSport = {{ kilometers_per_sport|safe }}
  let avgPerSport = {{ avg_per_sport|safe }}
  let amountsPerSport = {{amounts_per_sport|safe}}
  let avgPerSportTable = {{avg_per_sport_table|safe}}
  let sport = '{{sport}}'
  let measure = 'hours'
  let groupBy = 'year'


  // draw charts
  drawAmountPerSport()
  drawAvgPerSport()
  tableAmountPerSport()
  tableAvgPerSport()


  // click events
  $('#year').click(function() {
    groupBy = 'year'
    drawAmountPerSport()
    drawAvgPerSport()
    tableAmountPerSport()
    tableAvgPerSport()
  })

  $('#season').click(function() {
    groupBy = 'season'
    drawAmountPerSport()
    drawAvgPerSport()
    tableAmountPerSport()
    tableAvgPerSport()
  })

  $('[name="sport"]').click(function() {
    sport = $(this).text()
    $("#dropdown_sport").text(sport)
    drawAmountPerSport()
    drawAvgPerSport()
    tableAmountPerSport()
    tableAvgPerSport()
  })

  $('#hours').click(function() {
    measure = 'hours'
    drawAmountPerSport()
  })

  $('#kilometers').click(function() {
    measure = 'kilometers'
    drawAmountPerSport()
  })


function drawAmountPerSport(){
  let div = 'chart_amount_per_sport'
  let data = !sport ? []
    : measure == 'hours' ? hoursPerSport[groupBy][sport] 
    : kilometersPerSport[groupBy][sport]
  let options = {
    type:'bar',
    bar: {labels:{size: 12, color: '#fff'}},
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 60, left: 40, right: 40},
    xaxis: {font: {size:11}, orientation: 'skew'},
    yaxis: {font: {size:11}, min:0},
    colors: ['#536be2'],
    padding: 0.15,
    grid: true,
    tooltip: {suffix:""},
    animation: {duration: 500, delay: 20},
    responsiveness: true
    }
    drawComboChart(div,data,options)
}



function drawAvgPerSport(){
  let div = 'chart_avg_per_sport'
  let data = !sport ? [] : avgPerSport[groupBy][sport]
  let options = {
    type:'line',
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 60, left: 60, right: 150},
    xaxis: {font: {size: 11}, orientation: 'skew'},
    yaxis: {font: {size: 11}},
    y2axis: {font: {size: 11}, serieIndex: [0]},
    ylabel: {label: 'keskisyke', size: 12},
    y2label: {label: 'vauhti', size: 12},
    colors: ['#536be2','#8187b2'],
    grid: true,
    tooltip: true,
    line: {labels:{size:12}},
    circle: {radius: 4, display: true},
    legend: {coord: {x: 715, y: 50}, font: {size: 11}},
    responsiveness: true
    }
    drawComboChart(div,data,options)
}

function tableAmountPerSport(){
  let div = 'table_amount_per_sport'
  let data = !sport ? [] : amountsPerSport[groupBy][sport]
  let options = {
    border: true,
    sort: true,
    hover: true,
    textAlign: 'left',
    header: {color:'#495057', backgroudColor: '#e9ecef'},
    footer: {color:'#495057', backgroudColor: '#e9ecef', columns: {1: 'sum', 2: 'sum', 3: 'sum'}}
  }
  createTable(div,data,options)
}


function tableAvgPerSport(){
  let div = 'table_avg_per_sport'
  let data = !sport ? [] : avgPerSportTable[groupBy][sport]
  let options = {
    border: true,
    sort: true,
    hover: true,
    textAlign: 'left',
    header: {color:'#495057', backgroudColor: '#e9ecef'},
    footer: {color:'#495057', backgroudColor: '#e9ecef', columns: {1: 'mean', 2: 'mean', 3: 'mean', 4:'mean'}}
  }
  createTable(div,data,options)
}


</script>

{% endblock %}