{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Raportit{% endblock %}

{% load l10n %}

{% block head %}

{% endblock %}


{% block header %}RAPORTIT{% endblock %}

{% block content %}

  <div class="btn-group btn-group-sm" role="group" aria-label="">
    <button id="btn_amount" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3 active" onclick="showDiv('amount')">HARJOITUSMÄÄRÄT</button>
    <button id="btn_sport" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('sport'); drawSports()">LAJIT</button>
    <button id="btn_zone" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('zone'); drawZones()">TEHOT</button>
  </div>

  <div class="mt-4 mb-3" name="page" id="amount" style="display: block">
  
    <div class="row">

    <div class="col-lg-6 mb-3">
      <div class="card">
        <h6 class="card-header text-muted">Harjoitusmäärät vuosittain
            <ul class="nav nav-tabs card-header-tabs float-right" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab" id="hours" onclick="drawHoursPerYear()">Tunnit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" id="kilometers" onclick="drawKilometritVuosittain()">Kilometrit</a>
              </li>
            </ul>
        </h6>
        <div class="card-body">
          <div id="chart_amount_per_year"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-3">
      <div class="card">
        <h6 class="card-header text-muted">
          <span id="header_hours_per_year">Harjoitusmäärät kuukausittain</span>
          <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_hours_per_year">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="tab" id="month" onclick="drawHoursPerMonth()">Kuukausi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="tab" id="week" onclick="drawHoursPerWeek()">Viikko</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" id="dropdown_hours_per_year" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{current_year}}</a>
              <div class="dropdown-menu">
                {% for v in years %}
                <button class="dropdown-item" type="button" value="{{ v }}" onclick="drawHours(this.value)">{{ v }}</button>
                {% endfor %}
              </div>
            </li>
          </ul>
        </h6>
        <div class="card-body">
          <div id="chart_amount_per_month_week"></div>
        </div>
      </div>
    </div>

    </div>

    <div class="row mt-3 mb-3">

      <div class="col-lg-6 mb-3">
        <div class="card">
          <h6 class="card-header text-muted">Harjoitusmäärät verrattuna edellisvuoteen
            <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_comparison">
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" id="dropdown_comparison" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{current_year}}</a>
                <div class="dropdown-menu">
                  {% for v in years %}
                  <button class="dropdown-item" type="button" value="{{ v }}" onclick="drawComparison(this.value)">{{ v }}</button>
                  {% endfor %}
                </div>
              </li>
            </ul>
          </h6>
          <div class="card-body">
            <div id="chart_comparison"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
      <div class="card">
        <h6 class="card-header text-muted">
          <span id="header_hours_per_sport">Harjoitusmäärät lajeittain</span>
          <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_hours_per_sport">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="tab" id="nav_sport" onclick="drawHoursPerSport()">Lajit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="tab" id="nav_sport_group" onclick="drawHoursPerSportGroup()">Lajiryhmät</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" id="dropdown_hours_per_sport" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{current_year}}</a>
              <div class="dropdown-menu">
                {% for v in years %}
                <button class="dropdown-item" type="button" value="{{ v }}" onclick="drawSport(this.value)">{{ v }}</button>
                {% endfor %}
              </div>
            </li>
          </ul>
        </h6>
        <div class="card-body">
          <div id="chart_hours_per_sport"></div>
        </div>
      </div>
    </div>

  </div>

  </div>


  <div class="mt-4 mb-3" name="page" id="sport" style="display: none">
    
    <div class="row">

      <div class="col-lg-6 mb-3">
        <div class="card">
          <h6 class="card-header text-muted">Lajikohtaiset harjoitusmäärät
              <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_amount_per_sport">
                <li class="nav-item">
                  <a class="nav-link active" href="#" data-toggle="tab" id="sport_hours" onclick="drawHoursPerYearPerSport()">Tunnit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="tab" id="sport_kilometers" onclick="drawKilometersPerYearPerSport()">Kilometrit</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" id="dropdown_amount_per_sport" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{sport}}</a>
                  <div class="dropdown-menu">
                    {% for s in sports_list %}
                    <button class="dropdown-item" type="button" value="{{ s }}" onclick="drawSportTimeserie(this.value)">{{ s }}</button>
                    {% endfor %}
                  </div>
                </li>
              </ul>
          </h6>
          <div class="card-body">
            <div id="chart_amount_per_year_per_sport"></div>
            <div class="mt-4 ml-4 mr-4" id="table_amount_per_year_per_sport"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
          <div class="card">
            <h6 class="card-header text-muted">Lajikohtaiset keskiarvot
                <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_avg_per_sport">
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="dropdown_avg_per_sport" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{sport}}</a>
                    <div class="dropdown-menu">
                      {% for s in sports_list %}
                      <button class="dropdown-item" type="button" value="{{ s }}" onclick="drawAvgPerYearPerSport(this.value)">{{ s }}</button>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
            </h6>
            <div class="card-body">
              <div id="chart_avg_per_sport"></div>
              <div class="mt-4 ml-4 mr-4" id="table_avg_per_sport"></div>
            </div>
          </div>
        </div>

    </div>

  </div>

  <div class="mt-4 mb-3" name="page" id="zone" style="display: none">
    
    <div class="row">

      <div class="col-lg-6 mb-3">
        <div class="card">
          <h6 class="card-header text-muted">Harjoitusmäärät tehoalueittain
          </h6>
          <div class="card-body">
            <div id="chart_amount_per_zone_per_year"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
          <div class="card">
            <h6 class="card-header text-muted">Jakauma tehoalueittain
                <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_amount_per_zone">
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="dropdown_amount_per_zone" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{current_year}}</a>
                    <div class="dropdown-menu">
                      {% for v in years %}
                      <button class="dropdown-item" type="button" value="{{ v }}" onclick="drawPercentagePerZone(this.value)">{{ v }}</button>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
            </h6>
            <div class="card-body">
              <div id="chart_amount_per_zone"></div>
            </div>
          </div>
        </div>

    </div>

  </div>


<script type="text/javascript">

  // activate nav item
  document.getElementById("reports").classList.add('active')

  // function for showing/hiding elements
  function showDiv(id) {
    buttons = document.getElementsByName("nav_btn")
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].classList.remove("active")
    }
    document.getElementById("btn_" + id).classList.add("active")

    var pages = document.getElementsByName("page")
    for (var i = 0; i < pages.length; i++) {
      if (pages[i].id == id) {
        pages[i].style.display = 'block'
      }
      else {
        pages[i].style.display = 'none'
      }
    }
  }

  // enable Bootstrap tooltips
  $(function () {$('[data-toggle="tooltip"]').tooltip()})


  // load data
  let hoursPerYear = {{ hours_per_year_json|safe }}
  let hoursPerMonth = {{ hours_per_month_json|safe }}
  let hoursPerSport = {{ hours_per_sport_json|safe }}
  let hoursPerSportGroup = {{ hours_per_sport_group_json|safe }}
  let hoursPerWeek = {{ hours_per_week_json|safe }}
  let kilometersPerYear = {{ kilometers_per_year_json|safe }}
  let hoursPerYearPerSport = {{ hours_per_year_per_sport_json|safe }}
  let kilometersPerYearPerSport = {{ kilometers_per_year_per_sport_json|safe }}
  let avgPerYearPerSport = {{ avg_per_year_per_sport|safe }}
  let amountsPerYearPerSport = {{amounts_per_year_per_sport|safe}}
  let avgPerYearPerSportTable = {{avg_per_year_per_sport_table|safe}}
  let amountPerZonePerYear = {{amount_per_zone_per_year_json|safe}}
  let year = {{ current_year }}


  // draw charts
  drawHoursPerYear()
  drawHoursPerSport()
  drawHoursPerMonth()
  drawComparePrevious()

  function drawSports(){
    drawHoursPerYearPerSport()
    drawAvgPerSport()
    tableAmountPerYearPerSport()
    tableAvgPerYearPerSport()
  }

  function drawZones(){
    drawAmountPerZonePerYear()
    drawAmountPerZone()
  }

  // function for filtering data by given years
  function filterByYear(data,year){
    filtered_data = []
    for (i in data){
      row = {}
      row['category'] = data[i]['category']
      if (Array.isArray(year)){
        row['series'] = {}
        for (j in year){
          row['series'][year[j]] = data[i]['series'][year[j]]
        }
      }
      else {
        row['series'] = data[i]['series'][year]
      }
      filtered_data.push(row)
    }
    return filtered_data
  }


  // function for filtering data by given sport
  function filterBySport(data,sport){
    filtered_data = []
    for (i in data){
      row = {}
      row['category'] = data[i]['category']
      row['series'] = data[i]['series'][sport]
      filtered_data.push(row)
    }
    return filtered_data
  }


  // function for drawing selected year by amount
  function drawHours(year){
    document.getElementById("dropdown_hours_per_year").innerHTML = year
    let span = document.getElementById("nav_hours_per_year").getElementsByClassName("nav-link active")[0].id
    if (span == 'month'){
      drawHoursPerMonth()
    }
    else if (span == 'week'){
      drawHoursPerWeek()
    } 
  }


  // function for drawing selected year by sport
  function drawSport(year){
    document.getElementById("dropdown_hours_per_sport").innerHTML = year
    let level = document.getElementById("nav_hours_per_sport").getElementsByClassName("nav-link active")[0].id
    if (level == 'nav_sport'){
      drawHoursPerSport()
    }
    else if (level == 'nav_sport_group'){
      drawHoursPerSportGroup()
    }
  }


  // function for drawing selected year by month and comparison to last year
  function drawComparison(year){
    document.getElementById("dropdown_comparison").innerHTML = year
    drawComparePrevious()
  }


  // function for drawing timeserie for selected sport
  function drawSportTimeserie(sport){
    document.getElementById("dropdown_amount_per_sport").innerHTML = sport
    let measure = document.getElementById("nav_amount_per_sport").getElementsByClassName("nav-link active")[0].id
    if (measure == 'sport_hours'){
      drawHoursPerYearPerSport()
    }
    else if (measure == 'sport_kilometers'){
      drawKilometersPerYearPerSport()
    }
    tableAmountPerYearPerSport()
  }


  // function for drawing averages of selected sport
  function drawAvgPerYearPerSport(sport){
    document.getElementById("dropdown_avg_per_sport").innerHTML = sport
    drawAvgPerSport()
    tableAvgPerYearPerSport()
  }


  // function for drawing selected year by training zone
  function drawPercentagePerZone(year){
    document.getElementById("dropdown_amount_per_zone").innerHTML = year
    drawAmountPerZone()
  }


  function changeYear(div){
    // add click event to bars in given div
    let bars = d3.select('#' + div).selectAll('rect')
      .on('click', function(d){
        year = d3.select(this).attr('category')
        drawHours(year)
        drawSport(year)
        drawComparison(year)
      })
      .on('mouseover', function(d){
        d3.select(this).style("cursor", "pointer")
      })
  }


  function drawHoursPerYear(){
    let div = 'chart_amount_per_year'
    let data = hoursPerYear
    let options = {
      type:'bar',
      barlabel: {size:10, color:'#fff'},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:10}, orientation: 'horizontal'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#4BA6FF'],
      padding: 0.1,
      grid: true,
      traceDiff: {size:10, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
      changeYear(div)
  }


  function drawKilometritVuosittain(){
    let div = 'chart_amount_per_year'
    let data = kilometersPerYear
    let options = {
      type:'bar',
      barlabel: {size:10, color:'#fff'},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:10}, orientation: 'horizontal'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#4BA6FF'],
      padding: 0.1,
      grid: true,
      traceDiff: {size:10, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
      changeYear(div)
  }


  function drawHoursPerMonth(){
    document.getElementById('header_hours_per_year').innerHTML = 'Harjoitusmäärät kuukausittain'
    let year = document.getElementById('dropdown_hours_per_year').innerHTML
    let div = 'chart_amount_per_month_week'
    let data = filterByYear(hoursPerMonth,year)
    let options = {
      type:'bar',
      barlabel: {size:10, color:'#fff'},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 60},
      xaxis: {font: {size:10}, orientation: 'skew'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#4BA6FF'],
      padding: 0.1,
      grid: true,
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      avgLine: {size:10, color: '#DC3545', prefix: "ka ", suffix:"h"},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawHoursPerWeek(){
    document.getElementById('header_hours_per_year').innerHTML = 'Harjoitusmäärät viikoittain'
    let year = document.getElementById('dropdown_hours_per_year').innerHTML
    let div = 'chart_amount_per_month_week'
    let data = filterByYear(hoursPerWeek,year)
    let options = {
      type:'bar',
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 60},
      xaxis: {font: {size:10}, orientation: 'horizontal'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#4BA6FF'],
      padding: 0.1,
      grid: true,
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      avgLine: {size:10, color: '#DC3545', prefix: "ka ", suffix:"h"},
      ticks: {count: 25},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawHoursPerSport(){
    document.getElementById('header_hours_per_sport').innerHTML = 'Harjoitusmäärät lajeittain'
    let year = document.getElementById('dropdown_hours_per_sport').innerHTML
    let div = 'chart_hours_per_sport'
    let data = filterByYear(hoursPerSport,year)
    let options = {
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 40, left: 40, right: 100},
      colors: ['#4ba6ff','#969efc','#c995ed','#ed8ed6','#ff8cba','#ff919d','#ff9c84','#ffab71'],
      tooltip: {prefix:"", suffix:"h"},
      radius: {inner: 20, outer: 150},
      slicelabel: {size:10, color: '#FFF', threshold: 0.07},
      legend: {coord: {x: 600, y: 50}, font: {size: 10}},
      maxSliceCount: 8,
      responsiveness: true
      }

      drawPieChart(div,data,options)

      let slices = d3.select('#' + div).selectAll('.slice')
        .on('click', function(d){
          sport = d3.select(this).attr('category')
          showDiv('sport')
          drawSportTimeserie(sport)
          drawAvgPerYearPerSport(sport)
      })
        .on('mouseover', function(d){
          d3.select(this).style("cursor", "pointer")
      })
  }


function drawHoursPerSportGroup(){
  document.getElementById('header_hours_per_sport').innerHTML = 'Harjoitusmäärät lajiryhmittäin'
  let year = document.getElementById('dropdown_hours_per_sport').innerHTML
  let div = 'chart_hours_per_sport'
  let data = filterByYear(hoursPerSportGroup,year)
  let options = {
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 40, left: 40, right: 100},
    colors: ['#4ba6ff','#969efc','#c995ed','#ed8ed6','#ff8cba','#ff919d','#ff9c84','#ffab71'],
    tooltip: {prefix:"", suffix:"h"},
    radius: {inner: 20, outer: 150},
    slicelabel: {size:10, color: '#FFF', threshold: 0.07},
    legend: {coord: {x: 600, y: 50}, font: {size: 10}},
    maxSliceCount: 8,
    responsiveness: true
    }

    drawPieChart(div,data,options)
  }


  function drawComparePrevious(){
    let year = document.getElementById('dropdown_comparison').innerHTML
    let div = 'chart_comparison'
    let data = filterByYear(hoursPerMonth,[year-1,year])
    let options = {
      type:'bar',
      barlabel: {size: 10, color: '#fff'},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 60, left: 40, right: 100},
      xaxis: {font: {size:10}, orientation: 'skew'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#c995ed','#4BA6FF'],
      padding: 0.15,
      grid: true,
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      legend: {coord: {x: 730, y: 50}, font: {size: 10}},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


function drawHoursPerYearPerSport(){
  let sport = document.getElementById('dropdown_amount_per_sport').innerHTML
  let div = 'chart_amount_per_year_per_sport'
  let data = hoursPerYearPerSport[sport]
  if (data){
    data = data.filter(d => d['category'].substring(0,4) > year-10)
  }
  let options = {
    type:'bar',
    barlabel: {size:10, color:'#fff'},
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 60, left: 40, right: 40},
    xaxis: {font: {size:10}, orientation: 'skew'},
    yaxis: {font: {size:10}, min:0},
    colors: ['#4BA6FF'],
    padding: 0.1,
    grid: true,
    tooltip: {suffix:""},
    animation: {duration: 500, delay: 20},
    responsiveness: true
    }
    drawComboChart(div,data,options)
}


function drawKilometersPerYearPerSport(){
  let sport = document.getElementById('dropdown_amount_per_sport').innerHTML
  let div = 'chart_amount_per_year_per_sport'
  let data = kilometersPerYearPerSport[sport]
  if (data){
    data = data.filter(d => d['category'].substring(0,4) > year-10)
  }
  let options = {
    type:'bar',
    barlabel: {size:10, color:'#fff'},
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 60, left: 40, right: 40},
    xaxis: {font: {size:10}, orientation: 'skew'},
    yaxis: {font: {size:10}, min:0},
    colors: ['#4BA6FF'],
    padding: 0.1,
    grid: true,
    tooltip: {suffix:""},
    animation: {duration: 500, delay: 20},
    responsiveness: true
    }
    drawComboChart(div,data,options)
}


function drawAvgPerSport(){
  let sport = document.getElementById('dropdown_avg_per_sport').innerHTML
  let div = 'chart_avg_per_sport'
  let data = avgPerYearPerSport[sport]
  if (data){
    data = data.filter(d => d['category'].substring(0,4) > year-10)
  }
  let options = {
    type:'line',
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 60, left: 60, right: 140},
    xaxis: {font: {size: 10}, orientation: 'skew'},
    yaxis: {font: {size: 10}},
    y2axis: {font: {size: 10}, serieIndex: [0]},
    ylabel: {label: 'keskisyke', size: 12},
    y2label: {label: 'vauhti', size: 12},
    colors: ['#c995ed','#4BA6FF'],
    grid: true,
    tooltip: true,
    line: {labels:true},
    circle: {radius: 4, display: true},
    legend: {coord: {x: 720, y: 50}, font: {size: 10}},
    responsiveness: true
    }
    drawComboChart(div,data,options)
}

function tableAmountPerYearPerSport(){
  let sport = document.getElementById('dropdown_amount_per_sport').innerHTML
  let div = 'table_amount_per_year_per_sport'
  let data = amountsPerYearPerSport[sport]
  let options = {
    border: true,
    sort: true,
    hover: true,
    textAlign: 'left',
    header: {color:'#495057', backgroudColor: '#e9ecef'},
    footer: {color:'#495057', backgroudColor: '#e9ecef', columns: {1: 'sum', 2: 'sum', 3: 'sum'}}
  }
  createTable(div,data,options)
}


function tableAvgPerYearPerSport(){
  let sport = document.getElementById('dropdown_avg_per_sport').innerHTML
  let div = 'table_avg_per_sport'
  let data = avgPerYearPerSportTable[sport]
  let options = {
    border: true,
    sort: true,
    hover: true,
    textAlign: 'left',
    header: {color:'#495057', backgroudColor: '#e9ecef'},
    footer: {color:'#495057', backgroudColor: '#e9ecef', columns: {1: 'mean', 2: 'mean', 3: 'mean', 4:'mean'}}
  }
  createTable(div,data,options)
}


function drawAmountPerZonePerYear(){
  let div = 'chart_amount_per_zone_per_year'
  let data = amountPerZonePerYear.filter(d => d['category'] > year-4)
  let options = {
    type:'bar',
    barlabel: {size: 9, color: '#fff'},
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 40, left: 40, right: 100},
    xaxis: {font: {size:10}},
    yaxis: {font: {size:10}, min:0},
    colors: ['#4ba6ff','#969efc','#c995ed','#ed8ed6','#ff8cba','#ff919d','#ff9c84','#ffab71'],
    padding: 0.15,
    grid: true,
    tooltip: {suffix:" h"},
    animation: {duration: 500, delay: 20},
    legend: {coord: {x: 730, y: 50}, font: {size: 10}},
    responsiveness: true
    }
    drawComboChart(div,data,options)

    // add click event to bars
    let bars = d3.select('#' + div).selectAll('rect')
      .on('click', function(d){
        year = d3.select(this).attr('category')
        drawPercentagePerZone(year)
      })
      .on('mouseover', function(d){
        d3.select(this).style("cursor", "pointer")
      })
}


function drawAmountPerZone(){
  let year = document.getElementById('dropdown_amount_per_zone').innerHTML
  let div = 'chart_amount_per_zone'
  let data = amountPerZonePerYear.filter(d => d['category'] == year)[0]
  let piedata = []
  if (data){
    for (d in data['series']){piedata.push({'category': d, 'series':data['series'][d]})}
  } 
  let options = {
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 40, left: 40, right: 100},
    colors: ['#4ba6ff','#969efc','#c995ed','#ed8ed6','#ff8cba','#ff919d','#ff9c84','#ffab71'],
    tooltip: {prefix:"", suffix:"h"},
    radius: {inner: 20, outer: 150},
    slicelabel: {size:10, color: '#FFF', threshold: 0.07},
    legend: {coord: {x: 600, y: 50}, font: {size: 10}},
    maxSliceCount: 8,
    responsiveness: true
    }
  drawPieChart(div,piedata,options)
}

</script>

{% endblock %}