{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Raportit | Harjoitusmäärät{% endblock %}

{% load l10n %}

{% block head %}

{% endblock %}


{% block header %}RAPORTIT{% endblock %}
{% block secondary-header %}HARJOITUSMÄÄRÄT{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">Harjoitusmäärät vuosittain
          <ul class="nav nav-tabs card-header-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="tab" id="hours_per_year">Tunnit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="tab" id="kilometers_per_year">Kilometrit</a>
            </li>
          </ul>
      </h6>
      <div class="card-body">
        <div id="chart_amount_per_year"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">Harjoitusmäärät kausittain
          <ul class="nav nav-tabs card-header-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="tab" id="hours_per_season">Tunnit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="tab" id="kilometers_per_season">Kilometrit</a>
            </li>
          </ul>
      </h6>
      <div class="card-body">
        <div id="chart_amount_per_season"></div>
      </div>
    </div>
  </div>

</div>

<div class="row mt-3 mb-3">

  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">
        <span id="header_hours_per_year">Harjoitusmäärät kuukausittain</span>
        <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_hours_per_year">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="tab" id="month">Kuukausi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tab" id="week">Viikko</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown_hours_per_year" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{years.0}}</a>
            <div class="dropdown-menu dropdown-menu-right">
              {% for v in years %}
              <button name="years" class="dropdown-item" type="button" value="{{ v }}">{{ v }}</button>
              {% endfor %}
            </div>
          </li>
        </ul>
      </h6>
      <div class="card-body">
        <div id="chart_amount_per_month_week"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card">
      <h6 class="card-header text-muted">
        <span id="header_hours_per_sport">Harjoitusmäärät lajeittain</span>
        <ul class="nav nav-tabs card-header-tabs float-right" role="tablist" id="nav_hours_per_sport">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="tab" id="nav_sport">Lajit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tab" id="nav_sport_group">Lajiryhmät</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown_hours_per_sport" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{years.0}}</a>
            <div class="dropdown-menu dropdown-menu-right">
              {% for v in years %}
              <button name="sport_years" class="dropdown-item" type="button" value="{{ v }}">{{ v }}</button>
              {% endfor %}
            </div>
          </li>
        </ul>
      </h6>
      <div class="card-body">
        <div id="chart_hours_per_sport"></div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">

  // activate nav item
  document.getElementById("nav_reports").classList.add('active')

  // enable Bootstrap tooltips
  $(function () {$('[data-toggle="tooltip"]').tooltip()})

  
  // load data
  let hoursPerSeason = {{ hours_per_season_json|safe }}
  let hoursPerYear = {{ hours_per_year_json|safe }}
  let hoursPerMonth = {{ hours_per_month_json|safe }}
  let hoursPerSport = {{ hours_per_sport_json|safe }}
  let hoursPerSportGroup = {{ hours_per_sport_group_json|safe }}
  let hoursPerWeek = {{ hours_per_week_json|safe }}
  let kilometersPerSeason = {{ kilometers_per_season_json|safe }}
  let kilometersPerYear = {{ kilometers_per_year_json|safe }}
  let year = '{{ years.0 }}'


  // draw charts
  drawHoursPerYear()
  drawHoursPerSeason()
  drawHoursPerSport()
  drawHoursPerMonth()


  // click events
  $('#hours_per_year').click(function() {
    drawHoursPerYear()
  })

  $('#kilometers_per_year').click(function() {
    drawKilometersPerYear()
  })

  $('#hours_per_season').click(function() {
    drawHoursPerSeason()
  })

  $('#kilometers_per_season').click(function() {
    drawKilometersPerSeason()
  })

  $('#month').click(function() {
    drawHoursPerMonth()
  })

  $('#week').click(function() {
    drawHoursPerWeek()
  })

  $('#nav_sport').click(function() {
    drawHoursPerSport()
  })

  $('#nav_sport_group').click(function() {
    drawHoursPerSportGroup()
  })

  $('[name="years"]').click(function() {
    year = $(this).text()
    $("#dropdown_hours_per_year").text(year)
    drawHours()
  })

  $('[name="sport_years"]').click(function() {
    year = $(this).text()
    $("#dropdown_hours_per_sport").text(year)
    drawSport()
  })


  // function for filtering data by given years
  function filterByYear(data,year){
    filtered_data = []
    for (i in data){
      row = {}
      row['category'] = data[i]['category']
      if (Array.isArray(year)){
        row['series'] = {}
        for (j in year){
          row['series'][year[j]] = data[i]['series'][year[j]]
        }
      }
      else {
        row['series'] = data[i]['series'][year]
      }
      filtered_data.push(row)
    }
    return filtered_data
  }


  // function for drawing selected year by amount
  function drawHours(){
    let span = document.getElementById("nav_hours_per_year").getElementsByClassName("nav-link active")[0].id
    if (span == 'month'){
      drawHoursPerMonth()
    }
    else if (span == 'week'){
      drawHoursPerWeek()
    } 
  }


  // function for drawing selected year by sport
  function drawSport(year){
    let level = document.getElementById("nav_hours_per_sport").getElementsByClassName("nav-link active")[0].id
    if (level == 'nav_sport'){
      drawHoursPerSport()
    }
    else if (level == 'nav_sport_group'){
      drawHoursPerSportGroup()
    }
  }


  function changeYear(div){
    // add click event to bars in given div
    let bars = d3.select('#' + div).selectAll('rect')
      .on('click', function(d){
        year = d3.select(this).attr('category')
        $("#dropdown_hours_per_year").text(year)
        $("#dropdown_hours_per_sport").text(year)
        drawHours()
        drawSport()
      })
      .on('mouseover', function(d){
        d3.select(this).style("cursor", "pointer")
      })
  }


  function drawHoursPerYear(){
    let div = 'chart_amount_per_year'
    let data = hoursPerYear
    let options = {
      type:'bar',
      bar: {labels:{size: 12, color: '#fff'}},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:10}, orientation: 'horizontal'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#536be2'],
      padding: 0.15,
      grid: true,
      traceDiff: {size:12, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
      changeYear(div)
  }


  function drawKilometersPerYear(){
    let div = 'chart_amount_per_year'
    let data = kilometersPerYear
    let options = {
      type:'bar',
      bar: {labels:{size: 10, color: '#fff'}},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:11}, orientation: 'horizontal'},
      yaxis: {font: {size:11}, min:0, format:',.0f'},
      colors: ['#536be2'],
      padding: 0.15,
      grid: true,
      traceDiff: {size:12, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
      changeYear(div)
  }


  function drawHoursPerSeason(){
    let div = 'chart_amount_per_season'
    let data = hoursPerSeason
    let options = {
      type:'bar',
      bar: {labels:{size: 12, color: '#fff'}},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:10}, orientation: 'skew'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#536be2'],
      padding: 0.15,
      grid: true,
      traceDiff: {size:12, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawKilometersPerSeason(){
    let div = 'chart_amount_per_season'
    let data = kilometersPerSeason
    let options = {
      type:'bar',
      bar: {labels:{size: 12, color: '#fff'}},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 40},
      xaxis: {font: {size:10}, orientation: 'skew'},
      yaxis: {font: {size:10}, min:0},
      colors: ['#536be2'],
      padding: 0.15,
      grid: true,
      traceDiff: {size:12, color:'black'},
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawHoursPerMonth(){
    document.getElementById('header_hours_per_year').innerHTML = 'Harjoitusmäärät kuukausittain'
    let year = document.getElementById('dropdown_hours_per_year').innerHTML
    let div = 'chart_amount_per_month_week'
    let data = filterByYear(hoursPerMonth,year)
    let options = {
      type:'bar',
      bar: {labels:{size: 12, color: '#fff'}},
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 60},
      xaxis: {font: {size:11}, orientation: 'skew'},
      yaxis: {font: {size:11}, min:0},
      colors: ['#536be2'],
      padding: 0.1,
      grid: true,
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      avgLine: {size:12, color: '#fd397a', prefix: "ka ", suffix:"h"},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawHoursPerWeek(){
    document.getElementById('header_hours_per_year').innerHTML = 'Harjoitusmäärät viikoittain'
    let year = document.getElementById('dropdown_hours_per_year').innerHTML
    let div = 'chart_amount_per_month_week'
    let data = filterByYear(hoursPerWeek,year)
    let options = {
      type:'bar',
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 50, left: 40, right: 60},
      xaxis: {font: {size:11}, orientation: 'horizontal', ticksCount: 25},
      yaxis: {font: {size:11}, min:0},
      colors: ['#536be2'],
      padding: 0.1,
      grid: true,
      tooltip: {suffix:" h"},
      animation: {duration: 500, delay: 20},
      avgLine: {size:12, color: '#fd397a', prefix: "ka ", suffix:"h"},
      responsiveness: true
      }
      drawComboChart(div,data,options)
  }


  function drawHoursPerSport(){
    document.getElementById('header_hours_per_sport').innerHTML = 'Harjoitusmäärät lajeittain'
    let year = document.getElementById('dropdown_hours_per_sport').innerHTML
    let div = 'chart_hours_per_sport'
    let data = filterByYear(hoursPerSport,year)
    let options = {
      width: 800,
      height: 400,
      margin: {top: 40, bottom: 40, left: 40, right: 100},
      colors: [
      '#536be2',
      '#7a86ea',
      '#9ca2f2',
      '#bbbff9',
      '#dadcff',
      '#bcbfe5',
      '#9ea2cb',
      '#8187b2',
      '#646c9a',
        ],
      tooltip: {prefix:"", suffix:"h"},
      radius: {inner: 30, outer: 150},
      slicelabel: {size:12, color: '#242939', threshold: 0.07},
      legend: {coord: {x: 600, y: 50}, font: {size: 11}},
      maxSliceCount: 8,
      responsiveness: true
      }

      drawPieChart(div,data,options)
  }


function drawHoursPerSportGroup(){
  document.getElementById('header_hours_per_sport').innerHTML = 'Harjoitusmäärät lajiryhmittäin'
  let year = document.getElementById('dropdown_hours_per_sport').innerHTML
  let div = 'chart_hours_per_sport'
  let data = filterByYear(hoursPerSportGroup,year)
  let options = {
    width: 800,
    height: 400,
    margin: {top: 40, bottom: 40, left: 40, right: 100},
    colors: [
    '#536be2',
    '#7a86ea',
    '#9ca2f2',
    '#bbbff9',
    '#dadcff',
    '#bcbfe5',
    '#9ea2cb',
    '#8187b2',
    '#646c9a',
    ],
    tooltip: {prefix:"", suffix:"h"},
    radius: {inner: 30, outer: 150},
    slicelabel: {size:12, color: '#242939', threshold: 0.07},
    legend: {coord: {x: 600, y: 50}, font: {size: 11}},
    maxSliceCount: 8,
    responsiveness: true
    }
    drawPieChart(div,data,options)
  }

</script>

{% endblock %}