{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Asetukset{% endblock %}
{% block header %}ASETUKSET{% endblock %}

{% load widget_tweaks %}


{% block content %}

{% for message in messages %}
<div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}info{%endif%} alert-dismissible fade show" role="alert">
    <strong class="text-uppercase mr-1">{{ message.tags }}</strong>{{ message|safe }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
</div>
{% endfor %}

  <div class="btn-group btn-group-sm" role="group" aria-label="">
    <button id="btn_profile" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('profile')">PROFIILI</button>
    <button id="btn_sports" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('sports')">LAJIT</button>
    <button id="btn_zones" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('zones')">TEHOALUEET</button>
    <button id="btn_seasons" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('seasons')">HARJOITUSKAUDET</button>
    <button id="btn_pw_reset" name="nav_btn" type="button" class="btn btn-primary pr-3 pl-3" onclick="showDiv('pw_reset')">VAIHDA SALASANA</button>
  </div>


<div class="mt-4" name="page" id="profile" style="display: block">
  <div class="border p-4 bg-light">
    <h5 class="mb-4">PROFIILI</h5>
    <form method="post">{% csrf_token %}
      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label"><b>{{ user_form.first_name.label }}</b></label>
          <div class="col-md-2">{{ user_form.first_name|add_class:'form-control' }}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label"><b>{{ user_form.last_name.label }}</b></label>
          <div class="col-md-2">{{ user_form.last_name|add_class:'form-control' }}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label"><b>{{ user_form.email.label }}</b></label>
          <div class="col-md-2">{{ user_form.email|add_class:'form-control' }}</div>
        </div>
      </fieldset>
      <div class="form-actions col-md-6 mt-3">
        <button type="submit" class="btn btn-success mr-3" name="profile_save" id="profile_save">TALLENNA</button>
      </div>
    </form>
  </div>
</div>


<div class="mt-4" name="page" id="sports">
  <div class="border p-3 bg-light">
  <h5 class="mb-4">LAJIT</h5>
    <div class="col-xl-6">
    <form method="post">{% csrf_token %}
      {{ sports_formset.management_form }}
      <div class="table-responsive-lg">
        <table class="table table-sm table-light">
          <thead class="thead-light">
            <tr>
              <th class="pl-3 pr-3">{{ sports_formset.0.laji.label }}</th>
              <th class="pl-3 pr-3">{{ sports_formset.0.laji_nimi.label }}</th>
              <th class="pl-3 pr-3">{{ sports_formset.0.laji_ryhma.label }}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in sports_formset %}
              <tr id="id_{{sports_formset.prefix}}-{{forloop.counter0}}" class="collapse">
                <td>{{ form.laji|add_class:'form-control' }}</td>
                <td>{{ form.laji_nimi|add_class:'form-control' }}</td>
                <td>{{ form.laji_ryhma|add_class:'form-control' }}</td>
                <td>
                  <button class="btn btn-link text-decoration-none" 
                  type="button"
                  id="id_{{sports_formset.prefix}}-{{forloop.counter0}}-del"
                  name="{{sports_formset.prefix}}-{{forloop.counter0}}-del">
                  <i class="far fa-trash-alt"></i>
                 </button>
                </td>
                <td style="display: none">{{ form.DELETE }}</td>
                {% for field in form.hidden_fields %}
                <td>{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button id="sports_add" type="button" class="btn btn-link text-decoration-none mb-1"><i class="fas fa-plus-circle mr-1"></i>LISÄÄ</button>
      <div class="form-actions mt-3">
        <button type="submit" class="btn btn-success mr-3" name="sports_save" id="sports_save">TALLENNA</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="mt-4" name="page" id="zones">
  <div class="border p-3 bg-light">
  <h5 class="mb-4">TEHOALUEET</h5>
    <div class="col-xl-5">
    <form method="post">{% csrf_token %}
      {{ zones_formset.management_form }}
      <div class="table-responsive-lg">
        <table class="table table-sm table-light">
          <thead class="thead-light">
            <tr>
              <th class="pl-3 pr-3">{{ zones_formset.0.jarj_nro.label }}</th>
              <th class="pl-3 pr-3">{{ zones_formset.0.tehoalue.label }}</th>
              <th class="pl-3 pr-3">{{ zones_formset.0.alaraja.label }}</th>
              <th class="pl-3 pr-3">{{ zones_formset.0.ylaraja.label }}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in zones_formset %}
              <tr id="id_{{zones_formset.prefix}}-{{forloop.counter0}}" class="collapse">
                <td>{{ form.jarj_nro|add_class:'form-control' }}</td>
                <td>{{ form.tehoalue|add_class:'form-control' }}</td>
                <td>{{ form.alaraja|add_class:'form-control'}}</td>
                <td>{{ form.ylaraja|add_class:'form-control' }}</td>
                <td>
                  <button class="btn btn-link text-decoration-none" 
                    type="button" 
                    id="id_{{zones_formset.prefix}}-{{forloop.counter0}}-del"
                    name="{{zones_formset.prefix}}-{{forloop.counter0}}-del">
                  <i class="far fa-trash-alt"></i>
                 </button>
                </td>
                <td style="display: none">{{ form.DELETE }}</td>
                {% for field in form.hidden_fields %}
                <td>{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button id="zones_add" type="button" class="btn btn-link text-decoration-none mb-1">
        <i class="fas fa-plus-circle mr-1"></i>LISÄÄ
      </button>
      <div class="form-actions mt-3">
        <button type="submit" class="btn btn-success mr-3" name="zones_save" id="zones_save">TALLENNA</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="mt-4" name="page" id="seasons">
  <div class="border p-3 bg-light">
  <h5 class="mb-4">HARJOITUSKAUDET</h5>
    <div class="col-xl-4">
    <form method="post">{% csrf_token %}
      {{ seasons_formset.management_form }}
      <div class="table-responsive-lg">
        <table class="table table-sm table-light">
          <thead class="thead-light">
            <tr>
              <th class="pl-3 pr-3">{{ seasons_formset.0.kausi.label }}</th>
              <th class="pl-3 pr-3">{{ seasons_formset.0.alkupvm.label }}</th>
              <th class="pl-3 pr-3">{{ seasons_formset.0.loppupvm.label }}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in seasons_formset %}
              <tr id="id_{{seasons_formset.prefix}}-{{forloop.counter0}}" class="collapse">
                <td>{{ form.kausi|add_class:'form-control' }}</td>
                <td>{{ form.alkupvm|add_class:'form-control date-picker picker-start' }}</td>
                <td>{{ form.loppupvm|add_class:'form-control date-picker picker-end' }}</td>
                <td>
                  <button class="btn btn-link text-decoration-none" 
                  type="button" 
                  id="id_{{seasons_formset.prefix}}-{{forloop.counter0}}-del"
                  name="{{seasons_formset.prefix}}-{{forloop.counter0}}-del">
                  <i class="far fa-trash-alt"></i>
                 </button>
                </td>
                <td style="display: none">{{ form.DELETE }}</td>
                {% for field in form.hidden_fields %}
                <td>{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button id="seasons_add" type="button" class="btn btn-link text-decoration-none mb-1"><i class="fas fa-plus-circle mr-1"></i>LISÄÄ</button>
      <div class="form-actions mt-3">
        <button type="submit" class="btn btn-success mr-3" name="seasons_save" id="seasons_save">TALLENNA</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="mt-4" name="page" id="pw_reset">
  <div class="border p-4 bg-light">
      <h5 class="mb-4">VAIHDA SALASANA</h5>
      <form method="post">{% csrf_token %}
        <fieldset>
          {% for field in pw_form %}
          <div class="form-group row">
            <label class="col-md-2 col-form-label"><b>{{ field.label }}</b></label>
            <div class="col-md-2">{{ field|add_class:'form-control' }}</div>
            {% if field.errors %}
            <div class="col-md-4 text-danger small">{% for error in field.errors %}{{ error }} {% endfor %}</div>
            {% else %}
            <div class="col-md-4 text-muted small">{{ field.help_text }}</div>
            {% endif %}
          </div>
          {% endfor %}
        </fieldset>
        <div class="form-actions col-md-6 mt-3">
          <button type="submit" class="btn btn-success mr-3" name="pw_save" id="pw_save">TALLENNA</button>
        </div>
      </form>
    </div>
</div>



<script type="text/javascript">

// Datepickers
function initStartDatePickers(){
  $('.picker-start').each(function(){
    let loppupvm_id = this.id.replace('alkupvm','loppupvm')
    $(this).datepicker({
      uiLibrary: 'bootstrap4',
      calendarWeeks: true,
      format: 'dd.mm.yyyy',
      header: true,
      iconsLibrary: 'fontawesome',
      showOtherMonths: true,
      selectOtherMonths: true,
      weekStartDay: 1,
      width: 160,
      maxDate: function () {
        return $(`#${loppupvm_id}`).val();
      }
    })
  })
}

function initEndDatePickers(){
  $('.picker-end').each(function(){
    let alkupvm_id = this.id.replace('loppupvm','alkupvm')
    $(this).datepicker({
      uiLibrary: 'bootstrap4',
      calendarWeeks: true,
      format: 'dd.mm.yyyy',
      header: true,
      iconsLibrary: 'fontawesome',
      showOtherMonths: true,
      selectOtherMonths: true,
      weekStartDay: 1,
      width: 160,
      minDate: function () {
        return $(`#${alkupvm_id}`).val();
      }
    })
  })
}


// activate div
let button = 'btn_{{page}}'
document.getElementById(button).click()


// sports formset
let sportsPrefix = '{{sports_formset.prefix}}'
let sportsInitialCount = $(`#id_${sportsPrefix}-INITIAL_FORMS`).val()
let sportsRequiredFields = '{{sports_required_fields}}'

showForms(sportsPrefix, sportsInitialCount, sportsRequiredFields)

$("#sports_add").click(function() {
  addForm(sportsPrefix, sportsInitialCount, sportsRequiredFields)
})

$("button[name^=" + sportsPrefix + "][name$='-del']").click(function() {
  let id = $(this).attr('name').split('-')[1]
  deleteForm(sportsPrefix, id, sportsRequiredFields)
})


// zones formset
let zonesPrefix = '{{zones_formset.prefix}}'
let zonesInitialCount = $(`#id_${zonesPrefix}-INITIAL_FORMS`).val()
let zonesRequiredFields = '{{zones_required_fields}}'

showForms(zonesPrefix, zonesInitialCount, zonesRequiredFields)

$("#zones_add").click(function() {
  addForm(zonesPrefix, zonesInitialCount, zonesRequiredFields)
})

$("button[name^=" + zonesPrefix + "][name$='-del']").click(function() {
  let id = $(this).attr('name').split('-')[1]
  deleteForm(zonesPrefix, id, zonesRequiredFields)
})


// seasons formset
let seasonsPrefix = '{{seasons_formset.prefix}}'
let seasonsInitialCount = $(`#id_${seasonsPrefix}-INITIAL_FORMS`).val()
let seasonsRequiredFields = '{{seasons_required_fields}}'

showForms(seasonsPrefix, seasonsInitialCount, seasonsRequiredFields)
initStartDatePickers()
initEndDatePickers()

$("#seasons_add").click(function() {
  addForm(seasonsPrefix, seasonsInitialCount, seasonsRequiredFields)
  initStartDatePickers()
  initEndDatePickers()
})

$("button[name^=" + seasonsPrefix + "][name$='-del']").click(function() {
  let id = $(this).attr('name').split('-')[1]
  deleteForm(seasonsPrefix, id, seasonsRequiredFields)
})

</script>

{% endblock %}