{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Poista harjoitus{% endblock %}

{% block header %}

Poista harjoitus 

{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div class="mt-2">
    <div class="col-lg-6">
        <div class="alert alert-danger" role="alert">
        Haluatko varmasti poistaa seuraavan harjoituksen?
        <ul class="mt-2"><li>{{day}} - {{sport}} - {{duration}} h</li></ul>
        </div>
        <form method="post">{% csrf_token %}
            <button class="btn btn-primary mr-2 mt-2" name="confirm" type="submit" value="yes">Kyllä</button>
            <button class="btn btn-primary mr-2 mt-2" name="confirm" type="submit" value="no">Ei</button>
        </form>
    </div>
</div>

<script>
    // activate nav item
    document.getElementById("trainings").classList.add('active')
</script>


{% endblock %}