{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Harjoitukset{% endblock %}
{% load l10n %}

{% block head %}

{% endblock %}

{% block header %}HARJOITUKSET{% endblock %}
{% block header-right %}
    <div class="form-inline">
        <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle mr-2" type="button" id="export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-download mr-2"></i>LATAA
            </button>
            <div class="dropdown-menu">
                <button id="export_csv" name="export_csv" class="dropdown-item" type="submit" form="filter_form">CSV</a>
                <button id="export_xls" name="export_xls" class="dropdown-item" type="submit" form="filter_form">EXCEL</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle mr-2" type="button" id="import" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-upload mr-2"></i>TUO
            </button>
            <div class="dropdown-menu">
                <button id="polar" name="polar" class="dropdown-item" type="submit" form="filter_form">POLAR</a>
            </div>
        </div>
        <div>
        <a id="add_new" href="{% url 'training_add' %}" class="btn btn-sm btn-success" role="button" aria-pressed="true"><i class="fas fa-plus-circle mr-2"></i>LISÄÄ UUSI</a>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="mb-4">

    <div class="bg-light border mb-2 p-2 pb-3">
        <form id="filter_form" class="form-inline mt-2" method="post">{% csrf_token %}
            <div class="form-group ml-3 mr-1">
                <label class="text-muted mr-2" for="startdate">Aikaväli:</label>
                <input class="form-control form-control ml-2" id="startdate" name="startdate" pattern="\d{1,2}.\d{1,2}.\d{4}" placeholder="dd.mm.yyyy" required/>
            </div>
            <div class="form-group ml-2 mr-2">
                <label class="text-muted mr-2" for="startdate">-</label>
                <input class="form-control form-control ml-2" id="enddate" name="enddate" pattern="\d{1,2}.\d{1,2}.\d{4}" placeholder="dd.mm.yyyy" required/>
            </div>
            <div class="form-group ml-3 mr-3">
                <label class="text-muted mr-2" for="laji">Laji:</label>
                <select class="form-control form-control ml-2" id="sport" name="sport">
                    {% for group,items in sports.items %}
                        <option class="font-weight-bold" type="submit" value="{{ group }}" {% ifequal group sport %} selected {% endifequal %}>{{ group }}</option>
                        {% for item in items %}
                            <option type="submit" value="{{ item }}" {% ifequal item sport %} selected {% endifequal %}>&nbsp;&nbsp;&nbsp;{{ item }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ml-3 mr-3">
                <div class="custom-control custom-checkbox" id="restdays">
                    <input type="checkbox" class="custom-control-input" id="lepo" name="lepo" checked>
                    <label class="text-muted custom-control-label" for="lepo">Näytä lepopäivät</label>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-4">
        <div class="table-responsive">
            <table id="treenit" class="table table-sm">
                <thead class="thead-light">
                    <tr class="text-nowrap">
                    {% for header in table_headers %}
                        {% if header == 'details' or header == 'edit' or header == 'delete' %}
                        <th></th>
                        {% else %}
                        <th class="pl-2 pr-4">{{ header }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                <tfoot class="thead-light">
                    <tr class="text-nowrap">
                        {% for header in table_headers %}
                        <th></th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

{% if messages %}
<script> 
  setTimeout(() => $(".alert").alert('close'), 4000)
</script>
{% endif %}

<script type="text/javascript">

let sports = {{ sports|safe }}
let dataHeaders = {{ table_headers|safe }}
let columnsCount = dataHeaders.length

// activate nav item
document.getElementById("nav_trainings").classList.add('active')


// Datepickers
var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
$('#startdate').datepicker({
    uiLibrary: 'bootstrap4',
    calendarWeeks: true,
    format: 'dd.mm.yyyy',
    header: true,
    iconsLibrary: 'fontawesome',
    showOtherMonths: true,
    selectOtherMonths: true,
    weekStartDay: 1,
    stopPropagation: true,
    width: 190,
    value: '{{ startdate }}',
    maxDate: function () {
        return $('#enddate').val();
    }
});
$('#enddate').datepicker({
    uiLibrary: 'bootstrap4',
    calendarWeeks: true,
    format: 'dd.mm.yyyy',
    header: true,
    iconsLibrary: 'fontawesome',
    showOtherMonths: true,
    selectOtherMonths: true,
    weekStartDay: 1,
    width: 190,
    value: '{{ enddate }}',
    minDate: function () {
        return $('#startdate').val();
    }
});


// Filter functions for datatables
var filterBySport = function (settings, data, dataIndex){
    var sportCol = data[3]
    var selectedSport = $('#sport').val()
    if (selectedSport in sports){
        var sportsArray = sports[selectedSport] 
        if (sportsArray.length == 0){return true}
        else if (sportsArray.includes(sportCol)){return true}
        else {return false}
    }
    else {
        if (sportCol == selectedSport){return true}
        else {return false}
    } 
  }

var filterByDateRange = function (settings, data, dataIndex){
    try {
        var col = data[2].substring(0,11).split('-')
        var dateCol = new Date(col[0], col[1] - 1, col[2],0,0,0,0)
        var start = $('#startdate').val().split('.')
        var startdate = new Date(start[2], start[1] - 1, start[0],0,0,0,0)
        var end = $('#enddate').val().split('.')
        var enddate = new Date(end[2], end[1] - 1, end[0],0,0,0,0)
        if (dateCol >= startdate & dateCol <= enddate){
            return true
        }
        else {
            return false
        }
    }
    catch(err) {
        console.log('Invalid date format')
        return true
    }
  }

var filterByLepo = function (settings, data, dataIndex){
    var sportCol = data[3]
    var checked = $('#lepo').is(':checked')
    if (!checked && sportCol == 'Lepo'){
        return false
    }
    else {
        return true
    }
}

$.fn.dataTable.ext.search.push(filterBySport)
$.fn.dataTable.ext.search.push(filterByDateRange)
$.fn.dataTable.ext.search.push(filterByLepo)


// Datatables

// filtering
$("#sport").change(function(event){
    event.preventDefault()
    treenitTable.draw()
    let selectedSport = $("#sport option:selected" ).text()
    if (selectedSport !== 'Kaikki'){
        $("#lepo").prop("disabled", true)
    }
    else {
        $("#lepo").prop("disabled", false)
    }
})

$("#startdate").change(function(event){
    event.preventDefault()
    treenitTable.draw()
})

$("#startdate").keydown(function(event){
    if (event.which == 13){
        $(this).blur()
        return false
    }   
})

$("#enddate").change(function(event){
    event.preventDefault()
    treenitTable.draw()
})


$("#enddate").keydown(function(event){
    if (event.which == 13){
        $(this).blur()
        return false
    }   
})

$("#lepo").change(function(event){
    event.preventDefault()
    treenitTable.draw()
})

var treenitTable = $('#treenit').DataTable({
    deferRender: true,
    ajax: {
        url :"{% url 'trainings_data' %}",
        type: "post",
        data: {
                'columns': dataHeaders,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            },
        dataType: "json",
        dataSrc: 'data'
    },
    rowId: 0,
    processing: true,
    searching: true,
    ordering:  true,
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Kaikki"]],
    autoWidth: false,
    order: [],
    lengthChange: true,
    language: {
        search: '<i class="fas fa-search"></i>',
        searchPlaceholder: 'Etsi...',
        lengthMenu: "Näytä _MENU_ per sivu",
        paginate: {previous: "Edellinen", next: "Seuraava",},
        info: "_START_ - _END_ / _TOTAL_",
        thousands: " ",
        decimal: ",",
        emptyTable: "Ei harjoituksia",
        infoEmpty: "0 - 0 / 0",
        infoFiltered: "",
        zeroRecords: "Ei harjoituksia",
        processing: "Ladataan..."
    },
    columnDefs: [
        { 
            targets: [-2],
            orderable: false,
            className: 'border-right-0 pr-2 pl-2',
            render: function(data, type, row, meta){
                if (data !== ''){
                    let url = "{{ request.path }}" + data + "/modify"
                    data = `<a id="modify_${data}" href="${url}"><i class="far fa-edit"></i></a>`
                    return data
                }
                else {
                    return ''
                }
                },
        },
        { 
            targets: [-1],
            orderable: false,
            render: function(data, type, row, meta){
                if (data !== ''){
                    let url = "{{ request.path }}" + data + "/delete"
                    data = `<a id="delete_${data}" href="${url}"><i class="far fa-trash-alt"></i></a>`
                    return data
                }
                else {
                    return ''
                }
                },
        },
        {
            targets: [0],
            className: "details-control text-center",
            data: null,
            defaultContent: "",
            orderable: false,
            searchable: false,
            render: function () {
                return '<i class="text-success fas fa-plus-circle" style="cursor: pointer"></i>'
            }
        },
        {
            targets: [-3],
            className: "comment"  
        },
        { 
            targets: '_all', 
            className: "text-nowrap" 
        }
        ],
    fnDrawCallback: function( oSettings ) {
        highlightLepoRows()
        $("select[name=treenit_length]").removeClass("custom-select");
    },
    footerCallback: function ( row, data, start, end, display ) {
        var api = this.api(), data;

        // Remove the formatting to get numeric data for summation
        function intVal(i) {
            if (typeof i === 'string' ) {
                x = i.replace('-','0').replace(',','.')*1
            }
            else if (typeof i === 'number' ) {
                x = i
            }
            else {
                x = 0
            }
            return x
        }

        // Total over all pages
        kesto_total = api
            .column(4, {filter: 'applied'})
            .data()
            .reduce( function (a, b) {return timeStringToDecimal(a) + timeStringToDecimal(b)}, 0)

        matka_total = api
            .column(6, {filter: 'applied'})
            .data()
            .reduce( function (a, b) {return intVal(a) + intVal(b)}, 0)

        // Total over this page
        kesto_page_total = api
            .column(4, {page: 'current'})
            .data()
            .reduce( function (a, b) {
                return timeStringToDecimal(a) + timeStringToDecimal(b)}, 0)

        matka_page_total = api
            .column(6, { page: 'current'} )
            .data()
            .reduce( function (a, b) {return intVal(a) + intVal(b)}, 0)

        $( api.column(0).footer() ).html('Yht.')
        $( api.column(4).footer() ).html(round(kesto_page_total,1) + ' / '+  round(kesto_total,1) + 'h')
        $( api.column(6).footer() ).html(round(matka_page_total,1) + ' / '+  round(matka_total,1) + 'km')
        }
    })


// Create details row
$('#treenit tbody').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr')
    var row = treenitTable.row(tr)
    if (row.child.isShown()) {
        row.child.hide()
        tr.removeClass('shown bg-light')
        $(this).find('i').toggleClass('text-danger fas fa-minus-circle text-success fas fa-plus-circle')
    }
    else {
        row.child(rowDetails(row.data())).show()
        tr.addClass('shown bg-light')
        $(this).find('i').toggleClass('text-success fas fa-plus-circle text-danger fas fa-minus-circle')
    }
})


// Fetch training details
function rowDetails(rowData){
    let id = rowData[columnsCount-1]
    let div = $('<div/>').addClass('col-md-6 p-3')
    $.ajax({
        url : "{% url 'training_details' pk=12345 %}".replace(/12345/, id.toString()),
        dataType: "json",
        dataSrc: 'data',
        success: function (response){
            div.html(formatDetails(response['data']))
        }
    })
    return div
}


// Format training details to html-table
function formatDetails(details){
    let html = ''
    if (details.length == 0) {
        html += '<span class="text-danger font-italic">Tarkempia tietoja ei saatavilla.</span>'
    }
    else {
        html += 
            '<h6>Tehot</h6>' +
            '<table class="table table-sm" name="details_table">' +
                '<thead class="thead-light">' +
                '<tr>' +
                    '<th>Nro</th>' +
                    '<th>Teho</th>' +
                    '<th>Kesto</th>' +
                    '<th>Keskisyke</th>' +
                    '<th>Maksimisyke</th>' +
                    '<th>Matka (km)</th>' +
                    '<th>Vauhti (min/km)</th>' +
                '</tr>' +
                '</thead>' 
        let rows = ''
        details.forEach(
            d => {
                rows += 
                '<tr>' +
                    '<td>' + (d.nro || '') + '</td>' +
                    '<td>' + (d.tehoalue_id__tehoalue || '') + '</td>' +
                    '<td>' + durationToString(d.kesto_h, d.kesto_min) + '</td>' +
                    '<td>' + (d.keskisyke || '') + '</td>' +
                    '<td>' + (d.maksimisyke || '')+ '</td>' +
                    '<td>' + (d.matka || '') + '</td>' +
                    '<td>' + speedToString(d.vauhti_min,d.vauhti_s) + '</td>' +
                '</tr>'
            }
        )
        html += rows 
        html += '</table>'
    }
    return html
}



// layout for 'Lepo' rows
function highlightLepoRows(){
    let lepoRows = []
    let table = document.getElementById('treenit')
    let rows = table.rows
    for(i = 0; i < rows.length; i++){  
        let sportCell = rows[i].cells[3] 
        let detailsCell = rows[i].cells[0] 
        if (typeof sportCell !== 'undefined'){
            if (sportCell.innerHTML == 'Lepo'){
                lepoRows.push(i)
                if (rows[i].cells[4]){
                    for(j = 0; j < columnsCount-4; j++){ 
                        rows[i].deleteCell(4)
                    }
                    sportCell.colSpan = columnsCount - 3 
                }
                detailsCell.classList.remove("details-control")
                detailsCell.innerHTML = ''
            }
        }
    }
    for (i = 0; i < lepoRows.length; i++){
        rows[lepoRows[i]].style.backgroundColor = '#f0f3ff'
    }
}

</script>

{% endblock %}