{% extends "base_generic.html" %}
{% block title %}Treenipäiväkirja | Harjoitukset{% endblock %}
{% load l10n %}

{% block head %}

{% endblock %}

{% block header %}

HARJOITUKSET
<div class="float-right form-inline">
    <button id="export_csv" name="export_csv" class="btn btn-sm btn-primary mr-2" type="submit" form="filter_form"><i class="fa fa-download mr-2"></i>CSV</button>
    <button id="export_xls" name="export_xls" class="btn btn-sm btn-primary mr-2" type="submit" form="filter_form"><i class="fa fa-download mr-2"></i>EXCEL</button>
    <a id="add_new" href="{% url 'training_add' %}" class="btn btn-sm btn-success" role="button" aria-pressed="true"><i class="fas fa-plus-circle mr-2"></i>Lisää uusi harjoitus</a>
</div>

{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}info{%endif%} alert-dismissible fade show" role="alert">
    <strong class="text-uppercase mr-1">{{ message.tags }}</strong>{{ message|safe }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
</div>
{% endfor %}

<div class="mb-4">

    <div class="bg-light border mb-2 p-2 pb-3">
        <form id="filter_form" class="form-inline mt-2" method="post">{% csrf_token %}
            <div class="form-group ml-2 mr-1">
                <label class="text-muted mr-2" for="startdate">Aikaväli:</label>
                <input class="form-control form-control ml-2" id="startdate" name="startdate" pattern="\d{1,2}.\d{1,2}.\d{4}" placeholder="dd.mm.yyyy" required/>
            </div>
            <div class="form-group ml-1 mr-3">
                <label class="text-muted" for="enddate">-</label>
                <input class="form-control form-control ml-2" id="enddate" name="enddate" pattern="\d{1,2}.\d{1,2}.\d{4}" placeholder="dd.mm.yyyy" required/>
            </div>
            <div class="form-group ml-3 mr-3">
                <label class="text-muted mr-2" for="laji">Laji:</label>
                <select class="form-control form-control" id="sport" name="sport">
                    {% for group,items in sports.items %}
                        <option class="font-weight-bold" type="submit" value="{{ group }}" {% ifequal group sport %} selected {% endifequal %}>{{ group }}</option>
                        {% for item in items %}
                            <option type="submit" value="{{ item }}" {% ifequal item sport %} selected {% endifequal %}>&nbsp;&nbsp;&nbsp;{{ item }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="mt-4">
        <div class="table-responsive">
            <table id="treenit" class="table table-sm">
                <thead class="thead-light">
                    <tr class="text-nowrap">
                    {% for header in table_headers %}
                        <th class="pl-3 pr-3">{{ header }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tfoot class="thead-light">
                    <tr class="text-nowrap">
                        {% for header in table_headers %}
                        <th></th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>


<script type="text/javascript">

let sports = {{ sports|safe }}

// activate nav item
document.getElementById("trainings").classList.add('active')


// Datepickers
var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
$('#startdate').datepicker({
    uiLibrary: 'bootstrap4',
    calendarWeeks: true,
    format: 'dd.mm.yyyy',
    header: true,
    iconsLibrary: 'fontawesome',
    showOtherMonths: true,
    selectOtherMonths: true,
    weekStartDay: 1,
    stopPropagation: true,
    width: 190,
    value: '{{ startdate }}',
    maxDate: function () {
        return $('#enddate').val();
    }
});
$('#enddate').datepicker({
    uiLibrary: 'bootstrap4',
    calendarWeeks: true,
    format: 'dd.mm.yyyy',
    header: true,
    iconsLibrary: 'fontawesome',
    showOtherMonths: true,
    selectOtherMonths: true,
    weekStartDay: 1,
    width: 190,
    value: '{{ enddate }}',
    minDate: function () {
        return $('#startdate').val();
    }
});


// Filter functions for datatables
var filterBySport = function (settings, data, dataIndex){
    var sportCol = data[4]
    var selectedSport = $('#sport').val()
    if (selectedSport in sports){
        var sportsArray = sports[selectedSport] 
        if (sportsArray.length == 0){return true}
        else if (sportsArray.includes(sportCol)){return true}
        else {return false}
    }
    else {
        if (sportCol == selectedSport){return true}
        else {return false}
    } 
  }

var filterByDateRange = function (settings, data, dataIndex){
    try {
        var col = data[3].substring(0,11).split('-')
        var dateCol = new Date(col[0], col[1] - 1, col[2],0,0,0,0)
        var start = $('#startdate').val().split('.')
        var startdate = new Date(start[2], start[1] - 1, start[0],0,0,0,0)
        var end = $('#enddate').val().split('.')
        var enddate = new Date(end[2], end[1] - 1, end[0],0,0,0,0)
        if (dateCol >= startdate & dateCol <= enddate){
            return true
        }
        else {
            return false
        }
    }
    catch {
        console.log('Invalid date format')
        return true
    }
  }

$.fn.dataTable.ext.search.push(filterBySport)
$.fn.dataTable.ext.search.push(filterByDateRange)


// Datatables

// filtering
$("#sport").change(function(){
    event.preventDefault()
    treenitTable.draw()
})

$("#startdate").change(function(){
    event.preventDefault()
    treenitTable.draw()
})

$("#startdate").keypress(function(e){
    if (e.which ==13){
        event.preventDefault()
        treenitTable.draw()
        highlightLepoRows()
    }   
})

$("#enddate").change(function(){
    event.preventDefault()
    treenitTable.draw()
})

$("#enddate").keypress(function(e){
    if (e.which ==13){
        event.preventDefault()
        treenitTable.draw()
    }   
})

var treenitTable = $('#treenit').DataTable({
    "deferRender": true,
    "ajax": {
        "url" :"{% url 'trainings_data' %}",
        "dataSrc": function (json) {return json}
    },
    "searching": true,
    "ordering":  true,
    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Kaikki"]],
    "autoWidth": false,
    "order": [],
    "lengthChange": true,
    "language": {
        search: "Etsi:",
        lengthMenu: "Näytä _MENU_ per sivu",
        paginate: {
            previous: "Edellinen",
            next: "Seuraava",
        },
        info: "_START_ - _END_ / _TOTAL_",
        thousands: " ",
        decimal: ",",
        emptyTable: "Ei harjoituksia",
        infoEmpty:      "0 - 0 / 0",
        infoFiltered:   "",
            zeroRecords:    "Ei harjoituksia",
    },
    "columnDefs": [
        { className: "text-nowrap", targets: "_all" },
        { 
            "targets": [0],
            "orderable": false,
            "render": function(data, type, row, meta){
                if (data !== ''){
                    let url = "{{ request.path }}" + data + "/modify"
                    data = "<a href=" + url + '><i class="far fa-edit"></i></a>'
                    return data
                }
                else {
                    return ''
                }
                },
        },
        { 
            "targets": [1],
            "orderable": false,
            "render": function(data, type, row, meta){
                if (data !== ''){
                    let url = "{{ request.path }}" + data + "/delete"
                    data = "<a href=" + url + '><i class="far fa-trash-alt"></i></a>'
                    return data
                }
                else {
                    return ''
                }
                },
        }
        ],
    "fnDrawCallback": function( oSettings ) {
        highlightLepoRows()
    },
    "footerCallback": function ( row, data, start, end, display ) {
        var api = this.api(), data;

        // Remove the formatting to get numeric data for summation
        function intVal(i) {
            if (typeof i === 'string' ) {
                x = i.replace('-','0').replace(',','.')*1
            }
            else if (typeof i === 'number' ) {
                x = i
            }
            else {
            x = 0
            }
            return x
        };

        function round(value, decimals) {
            return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
        }

        // convert "{}h {}min" to decimal
        function timeToDecimal(time){
            if (typeof time === 'string' ) {
                hIndex = time.indexOf('h')
                minIndex = time.indexOf('min')
                var h = 0
                var min = 0
                if (hIndex != -1){
                    h = time.slice(0,hIndex).trim()
                }
                if (minIndex != -1){
                    min = time.slice(hIndex+1,minIndex).trim()
                }
                return parseInt(h) + parseInt(min)/60.0
            }
            else if (typeof time === 'number' ) {
                return time
            }
            else {
                return 0
            }
        }

        // Total over all pages
        kesto_total = api
            .column(5, {filter: 'applied'})
            .data()
            .reduce( function (a, b) {
                return timeToDecimal(a) + timeToDecimal(b);
            }, 0 );

        matka_total = api
            .column(7, {filter: 'applied'})
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );

        // Total over this page
        kesto_page_total = api
            .column(5, {page: 'current'})
            .data()
            .reduce( function (a, b) {
                return timeToDecimal(a) + timeToDecimal(b);
            }, 0 );

        matka_page_total = api
            .column(7, { page: 'current'} )
            .data()
            .reduce( function (a, b) {
                return intVal(a) + intVal(b);
            }, 0 );

        $( api.column(0).footer() ).html('Yht.');
        $( api.column(5).footer() ).html(round(kesto_page_total,1) + ' / '+  round(kesto_total,1) + 'h');
        $( api.column(7).footer() ).html(round(matka_page_total,1) + ' / '+  round(matka_total,1) + 'km');
        }
    }); 




// Background color for 'Lepo' rows
function highlightLepoRows(){
    let lepoRows = []
    let table = document.getElementById('treenit')
    let rows = table.rows
    for(i = 0; i < rows.length; i++){  
        let sportCell = rows[i].cells[4] 
        if (typeof sportCell !== 'undefined'){
            if (sportCell.innerHTML == 'Lepo'){
                lepoRows.push(i)
            }
        }
    }
    for (i = 0; i < lepoRows.length; i++){
        rows[lepoRows[i]].style.backgroundColor = '#edfcfc' //'#f7ebeb'
    }
}

</script>

{% endblock %}