{% extends "base_generic.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}{{ page_header }}{% endblock %}

{% load widget_tweaks %}


{% block content %}

<div class="mt-3">

    <form method="post">{% csrf_token %}
        <fieldset>
            
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.pvm.label }}</b></label> 
                <div class="col-md-3">{{ harjoitus_form.pvm|add_class:'form-control' }}</div>
                {% if harjoitus_form.pvm.errors %}
                    <div class="col-md-4 text-danger">{% for error in harjoitus_form.pvm.errors %}{{ error }}{% endfor %}</div>
                {% else %}
                    <div class="col-md-4 text-muted small">{{ harjoitus_form.pvm.help_text }}</div>
                {% endif %}
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"></label> 
                <div class="col-md-3">
                    {% for radio in harjoitus_form.vuorokaudenaika %}
                        <div class="form-check form-check-inline">{{ radio }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.laji.label }}</b></label> 
                <div class="col-md-2">{{ harjoitus_form.laji|add_class:'form-control' }}</div>
                <div class="col-md-3 pt-1"><a class="nav-link" href="{% url 'settings' %}?page=sports"><i class="fas fa-plus-circle mr-1"></i>Lisää laji</a></div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>Kesto</b></label> 
                <div class="input-group col-md-3 col-xl-2">
                    {{ harjoitus_form.kesto_h|add_class:'form-control' }}
                    {{ harjoitus_form.kesto_min|add_class:'form-control' }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">h</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.keskisyke.label }}</b></label> 
                <div class="col-md-2">{{ harjoitus_form.keskisyke|add_class:'form-control' }}</div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>Matka</b></label> 
                <div class="input-group col-md-3 col-xl-2">
                        {{ harjoitus_form.matka|add_class:'form-control' }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">km</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>Vauhti</b></label> 
                <div class="input-group col-md-3 col-xl-2">
                        {{ harjoitus_form.vauhti_km_h|add_class:'form-control' }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">km/h</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b></b></label> 
                <div class="input-group col-md-3">
                        {{ harjoitus_form.vauhti_min|add_class:'form-control' }}
                        {{ harjoitus_form.vauhti_s|add_class:'form-control' }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">min/km</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.kalorit.label }}</b></label> 
                <div class="col-md-2">{{ harjoitus_form.kalorit|add_class:'form-control' }}</div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>Nousu</b></label> 
                <div class="input-group col-md-2">
                        {{ harjoitus_form.nousu|add_class:'form-control' }}
                    <div class="input-group-prepend">
                        <span class="input-group-text">m</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.tuntuma.label }}</b></label> 
                <div class="col-md-2">{{ harjoitus_form.tuntuma|add_class:'form-control' }}</div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xl-1 col-form-label"><b>{{ harjoitus_form.kommentti.label }}</b></label> 
                <div class="col-md-4">{{ harjoitus_form.kommentti|add_class:'form-control' }}</div>
            </div>       
        
            {{ teho_formset.management_form }}
        
            <div class="row">
                <div class="col-md-10 border-bottom ml-3 mt-4 mb-3">
                    <h5>Tehot</h5>
                </div>
            </div>

            <div class="d-none d-md-block">
                <div class="form-row">
                    <div class="form-group col-md-1 ml-2"><b>{{ teho_formset.0.nro.label }}</b></div>
                    <div class="form-group col-md-1 ml-2"><b>{{ teho_formset.0.tehoalue.label }}</b></div>
                    <div class="form-group col-md-2 ml-2"><b>Kesto</b></div>
                    <div class="form-group col-md-1 ml-2" hidden>{{ teho_formset.0.kesto.label }}</div>
                    <div class="form-group col-md-1 ml-2"><b>{{ teho_formset.0.keskisyke.label }}</b></div>
                    <div class="form-group col-md-1 ml-2"><b>{{ teho_formset.0.maksimisyke.label }}</b></div>
                    <div class="form-group col-md-1 ml-2"><b>{{ teho_formset.0.matka.label }} (km)</b></div>
                    <div class="form-group col-md-2 ml-2"><b>Vauhti</b></div>
                    <div class="form-group col-md-1 ml-2" hidden>{{ teho_formset.0.vauhti_min_km.label }}</div>
                    <div class="form-group col-md-1 ml-2" hidden>{{ teho_formset.0.vauhti_km_h.label }}</div>
                </div>
            </div>

            {% for form in teho_formset %}
            <div id="id_{{teho_formset.prefix}}-{{forloop.counter0}}" class="collapse">
                <div class="form-row pt-1">
                    <div class="form-group col-md-1 ml-2">
                        <label class="d-block d-md-none"><b>{{ teho_formset.0.nro.label }}</b></label>
                        {{ form.nro|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2">
                        <label class="d-block d-md-none"><b>{{ teho_formset.0.tehoalue.label }}</b></label>
                        {{ form.tehoalue|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-2 ml-2">
                        <label class="d-block d-md-none"><b>Kesto</b></label>
                        <div class="input-group">
                            {{ form.kesto_h|add_class:'form-control' }}
                            {{ form.kesto_min|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="form-group col-md-1 ml-2" hidden>
                        {{ form.kesto|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2">
                        <label class="d-block d-md-none"><b>{{ teho_formset.0.keskisyke.label }}</b></label>
                        {{ form.keskisyke|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2">
                        <label class="d-block d-md-none"><b>{{ teho_formset.0.maksimisyke.label }}</b></label>
                        {{ form.maksimisyke|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2">
                        <label class="d-block d-md-none"><b>{{ teho_formset.0.matka.label }}</b></label>
                        {{ form.matka|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3 ml-2">
                        <label class="d-block d-md-none"><b>Vauhti</b></label>
                        <div class="input-group">
                                {{ form.vauhti_min|add_class:'form-control' }}
                                {{ form.vauhti_s|add_class:'form-control' }}
                            <div class="input-group-prepend">
                                <span class="input-group-text">min/km</span>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group col-md-1 ml-2" hidden>
                        {{ form.vauhti_min_km|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2" hidden>
                        {{ form.vauhti_km_h|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1 ml-2">
                        <button 
                            class="btn btn-link text-decoration-none" 
                            type="button"
                            id="id_{{teho_formset.prefix}}-{{forloop.counter0}}-del" 
                            name="{{teho_formset.prefix}}-{{forloop.counter0}}-del">
                            <i class="far fa-trash-alt"></i> Poista
                        </button> 
                    </div> 
                    <div style="display: none">
                        {{ form.DELETE }}  
                    </div>
                    {% for field in form.hidden_fields %}
                    {{ field }}
                    {% endfor %}
                </div>
                <hr class="d-block d-md-none">
            </div>
            {% endfor %}
        </fieldset>
        <button id="teho_add" type="button" class="btn btn-link text-decoration-none mb-1"><i class="fas fa-plus-circle mr-1"></i>Lisää tehot</button>
        <div class="form-actions mt-5 col-6">
            <button type="submit" id="save" name="save" class="btn btn-success mr-3">Tallenna</button>
            <a class="btn btn-danger" href="{% url 'trainings' %}" role="button">Peruuta</a>
        </div>
        <br><br>
    </form>
</div>





<script type="text/javascript">

$(window).on('load',function(){
    splitVauhtiMinKm()
    document.getElementById("trainings").classList.add('active')
})

let today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate())
$('#id_pvm').datepicker({
    uiLibrary: 'bootstrap4',
    calendarWeeks: true,
    format: 'dd.mm.yyyy',
    header: true,
    iconsLibrary: 'fontawesome',
    showOtherMonths: true,
    selectOtherMonths: true,
    weekStartDay: 1,
    width: 160,
    maxDate: today
})

$("#save").click(function() {
    calculateKesto()
    calculateVauhtiMinKm()
    calculateVauhtiKmH()
  })


// teho formset
let prefix = '{{teho_formset.prefix}}'
let initial_count = $(`#id_${prefix}-INITIAL_FORMS`).val()
let required_fields = '{{required_fields}}'

showForms(prefix, initial_count, required_fields)

$("#teho_add").click(function() {
  addForm(prefix, initial_count, required_fields)
})

$("button[name$='-del']").click(function() {
  let id = $(this).attr('name').split('-')[1]
  deleteForm(prefix, id, required_fields)
})


function calculateKesto(){
    let id = 0
    let total = $(`#id_${prefix}-TOTAL_FORMS`).val()
    while (id < total) {
        let kesto_h = $(`#id_${prefix}-${id}-kesto_h`).val()
        let kesto_min = $(`#id_${prefix}-${id}-kesto_min`).val()
        if (kesto_h || kesto_min){
            let kesto = calculateDuration(kesto_h, kesto_min)
            $(`#id_${prefix}-${id}-kesto`).val(kesto)
        }
        else {
            $(`#id_${prefix}-${id}-kesto`).val(null)
        }
        id++
    }
}

function calculateVauhtiMinKm(){
    let id = 0
    let total = $(`#id_${prefix}-TOTAL_FORMS`).val()
    while (id < total) {
        let vauhti_min = $(`#id_${prefix}-${id}-vauhti_min`).val()
        let vauhti_s = $(`#id_${prefix}-${id}-vauhti_s`).val()
        if (vauhti_min || vauhti_s){
            let vauhti_min_km = calculateSpeedMinPerKm(vauhti_min, vauhti_s)
            $(`#id_${prefix}-${id}-vauhti_min_km`).val(vauhti_min_km)
        }
        else {
            $(`#id_${prefix}-${id}-vauhti_min_km`).val(null)
        }
        id++
    }
}

function splitVauhtiMinKm(){
    let id = 0
    let total = $(`#id_${prefix}-TOTAL_FORMS`).val()
    while (id < total) {
        let vauhti_min_km = $(`#id_${prefix}-${id}-vauhti_min_km`).val()
        if (vauhti_min_km){
            let {minutes, seconds} = extractMinAndSecFromSpeed(vauhti_min_km)
            $(`#id_${prefix}-${id}-vauhti_min`).val(minutes)
            $(`#id_${prefix}-${id}-vauhti_s`).val(seconds)
        }
        else {
            $(`#id_${prefix}-${id}-vauhti_min`).val(null)
            $(`#id_${prefix}-${id}-vauhti_s`).val(null)
        }
        id++
    }
}

function calculateVauhtiKmH(){
    let id = 0
    let total = $(`#id_${prefix}-TOTAL_FORMS`).val()
    while (id < total) {
        let vauhti_min_km = $(`#id_${prefix}-${id}-vauhti_min_km`).val()
        if (vauhti_min_km){
            let vauhti_km_h = convertMinPerKmToKmPerH(vauhti_min_km)
            $(`#id_${prefix}-${id}-vauhti_km_h`).val(vauhti_km_h)
        }
        else {
            $(`#id_${prefix}-${id}-vauhti_km_h`).val(null)
        }
        id++
    }
}

</script>

{% endblock %}